{% extends 'base.html'%}
{% block title %}
home
{% endblock %}

{% block main %}
<h1 class="text-primary text-center text-uppercase"  id="welcome">welcome {{ request.user|upper }}</h1>
<h2 class="text-center text-uppercase text-warning">latest appointment</h2>
    <div class="container" id="appoint_table">
    <table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Reasons</th>
      <th scope="col">View</th>
    </tr>
  </thead>
  <tbody>
  {% for foo in appointment %}
      {% if foo.status == 'pending' %}
          <tr class="bg-info">
          <td>{{ foo.first_Name|upper }}</td>
          <td>{{ foo.last_Name|upper}}</td>
          <td>{{ foo.reasons|upper }}</td>
          <td><button class="meeting_detail btn btn-outline-light" data-id="{% url 'meeting-detail' foo.slug %}">View</button></td>
      {% endif %}
  </tr>
      {% if foo.status == 'completed' %}
      <tr class="bg-success">
      <td>{{ foo.first_Name|upper }}</td>
      <td>{{ foo.last_Name|upper}}</td>
      <td>{{ foo.reasons|upper }}</td>
      <td><button class="meeting_detail btn btn-outline-light" data-id="{% url 'meeting-detail' foo.slug %}">View</button></td>
      {% endif %}
  </tr>
      {% if foo.status == 'important' %}
          <tr class="bg-warning">
          <td>{{ foo.first_Name|upper }}</td>
          <td>{{ foo.last_Name|upper}}</td>
          <td>{{ foo.reasons|upper }}</td>
          <td><button class="meeting_detail btn btn-outline-light" data-id="{% url 'meeting-detail' foo.slug %}">View</button></td>
      {% endif %}
  </tr>
      {% if foo.status == 'follow up' %}
          <tr class="bg-secondary">
          <td>{{ foo.first_Name|upper }}</td>
          <td>{{ foo.last_Name|upper}}</td>
          <td>{{ foo.reasons|upper }}</td>
          <td><button class="meeting_detail btn btn-outline-light" data-id="{% url 'meeting-detail' foo.slug %}">View</button></td>
      {% endif %}
  </tr>
  {% endfor %}
  </tbody>
</table>
    </div>


  <div class="container">
    <h1 class="text-center"><i>Agenda</i></h1>
    <hr />
  <button id="agenda_btn" class="btn btn-md btn-outline-primary hide" style="float: right;">Create</button>

  <div class="col-md-4" style="float: right;" id="agenda">
      <h5 class="text-center">Add Agenda</h5>
            <form method="post">
                {% include 'forms.html' %}
          <input type="submit" value="Submit" class="btn btn-block btn-outline-primary">
      </form>
  </div>

      <br>
      <hr>
  <div class="row">
      {% for i in lists %}
          <div class="col-md-3" >
      <div class="card mb-md-4 box-shadow">
          <div class="card-header text-center">
              <b class="card-title">{{ i.title|upper }}</b>
          </div>
          <div class="card-body">
              <h5><span class="fa fa-calendar-o text-center"> &nbsp; {{i.date| date}}</span></h5>
              <hr>
              <p class="card-text text-center">
                  {{i.details|upper}}
              </p>
          </div>
          {% if request.user.is_superuser %}
              <hr/>
              <div style="float:left; padding-left: 4%; padding-bottom: 4%;" >
                  <button class="todo_edit btn btn-outline-info" data-id="{% url 'todo_update' i.pk %}" style="float: left"><span class="fa fa-eye"></span></button>
              </div><form action="{% url 'del' i.id %}" method="POST" style=" padding-right: 4%; padding-bottom: 3%;">
                {% csrf_token %}
                <button value="remove" type="submit"  class="btn btn-outline-danger" style="float: right;"><span class="fa fa-trash-o"></span></button>
            </form>

        {% endif %}

      </div>
          </div>
      {% endfor%}
  </div>
  </div>
     {% include 'pagination.html' %}
    <script>
    let today;
    today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());

    $('#id_date').datepicker({
        container:'#id_date',
        minDate: today,
        modal: true,
        header: true,
        footer: true,
        showotherMonths: true});



    $('#agenda').hide();
    $('#agenda_btn').click(function () {
        if ($('#agenda:visible').length)
            $('#agenda').hide(500);
        else
            $('#agenda').show(500);
            $('#agenda_btn').hide(200);
    });
    $(".meeting_detail").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
    });
    $(".todo_edit").each(function () {
            $(this).modalForm({formURL: $(this).data('id')});
        });
    </script>
    <style>
        #agenda_btn:hover{
            background: #f4476b;
            border-radius: 30px;
        }
    </style>
{% endblock %}