{% load crispy_forms_tags %}
<form method="post" action="" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="modal-header">
    <h3 class="modal-title text-uppercase text-center text-primary">New Address</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
  {{form|crispy}}
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-block btn-outline-success">Create</button>
  </div>
    <style>
        .btn{
            border-radius: 30px;
        }
    </style>
</form>