<div class="modal-header">
  <h3 class="modal-title">{{ appoint.first_Name }}  {{ appoint.last_Name }} Details </h3>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
<h1 class="text-center text-uppercase text-primary">NIC: {{ appoint.NIC }}</h1>
<p>
<span class="text-primary text-uppercase">Address:</span> {{ appoint.address|upper }} <br>
<span class="text-primary text-uppercase">Region:</span> {{ appoint.address.region|upper }}<br>
<span class="text-primary text-uppercase">Telephone:</span> {{ appoint.telephone|upper }}<br>
<span class="text-primary text-uppercase">Number of Children:</span> {{ appoint.children }}<br>
<span class="text-primary text-uppercase">Marital Status:</span> {{ appoint.marital_Status|upper }}<br>
<span class="text-primary text-uppercase">Reasons:</span> {{ appoint.reasons|linebreaksbr }}<br>
    {% if request.user.is_superuser %}
        <span class="text-primary text-uppercase">Remarks:</span> {{ appoint.remarks|linebreaksbr }}<br>
    {% endif %}

</p>
<div style="text-align: right;" class=" text-muted">
{{appoint.published|date}} <br>
updated by: {{appoint.staff}}
</div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-block btn-outline-info" data-dismiss="modal">Close</button>
</div>