{% extends 'base.html' %}
{% block title %}
Appointments
{% endblock %}
{% block main %}

{% if request.user.is_authenticated %}
{% if request.user.is_active %}
    {% if request.user.is_superuser %}
         <input type="button"  value="Export To Excel" style="float: right;" class="btn btn-outline-primary" onclick="Export()" />
    {% endif %}
    <br>
    <br>
    <table class="table table-dark table-bordered" id="appointTable">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">NIC</th>
      <th scope="col">Telephone</th>
      <th scope="col">Address</th>
      <th scope="col">Region</th>
      <th scope="col">Reasons</th>
      <th scope="col">Status</th>
      <th scope="col">Meeting Date</th>
      <th scope="col">View</th>
      <th scope="col">Update</th>

    </tr>
  </thead>
  <tbody>
  {% for meeting in meetings %}
      {% if meeting.status == "pending" %}
          <tr class="bg-info">
          <td>{{ meeting.first_Name|upper }}</td>
          <td>{{ meeting.last_Name|upper}}</td>
          <td>{{ meeting.NIC|upper }}</td>
          <td>{{ meeting.telephone|upper }}</td>
          <td>{{ meeting.address|upper }}</td>
          <td>{{ meeting.address.region|upper }}</td>
          <td>{{ meeting.reasons|upper }}</td>
          <td>{{ meeting.status|upper }}</td>
          <td>{{ meeting.published|date}}</td>
          {% if request.user.is_superuser %}
              <td><button class="meeting_detail btn btn-outline-light" data-id="{% url 'meeting-detail' meeting.slug %}">View</button></td>
              <td><button class=" meeting_update btn btn-outline-danger" data-id="{% url 'meeting-update' meeting.slug %}">Update</button></td>
          {% else %}
              <td><button class="meeting_detail btn btn-outline-light" data-id="{% url 'meeting-detail' meeting.slug %}">View</button></td>
              <td><button class=" meeting_update btn btn-outline-danger disabled">Update</button></td>
          {% endif %}

        {% endif %}
  </tr>
      {% if meeting.status == "completed" %}
          <tr class="bg-success">
          <td>{{ meeting.first_Name|upper }}</td>
          <td>{{ meeting.last_Name|upper}}</td>
          <td>{{ meeting.NIC|upper }}</td>
          <td>{{ meeting.telephone|upper }}</td>
          <td>{{ meeting.address|upper }}</td>
          <td>{{ meeting.address.region|upper }}</td>
          <td>{{ meeting.reasons|upper }}</td>
          <td>{{ meeting.status|upper }}</td>
          <td>{{ meeting.created_at|date}}</td>
          {% if request.user.is_superuser %}
              <td><button class="meeting_detail btn btn-outline-light" data-id="{% url 'meeting-detail' meeting.slug %}">View</button></td>
              <td><button class=" meeting_update btn btn-outline-danger" data-id="{% url 'meeting-update' meeting.slug %}">Update</button></td>
          {% else %}
              <td><button class="meeting_detail btn btn-outline-light" data-id="{% url 'meeting-detail' meeting.slug %}">View</button></td>
              <td><button class=" meeting_update btn btn-outline-danger disabled">Update</button></td>
          {% endif %}
      {% endif %}
  </tr>
      {% if meeting.status == "important" %}
          <tr class="bg-warning">
          <td>{{ meeting.first_Name|upper }}</td>
          <td>{{ meeting.last_Name|upper}}</td>
          <td>{{ meeting.NIC|upper }}</td>
          <td>{{ meeting.telephone|upper }}</td>
          <td>{{ meeting.address|upper }}</td>
          <td>{{ meeting.address.region|upper }}</td>
          <td>{{ meeting.reasons|upper }}</td>
          <td>{{ meeting.status|upper }}</td>
          <td>{{ meeting.created_at|date}}</td>
          {% if request.user.is_superuser %}
              <td><button class="meeting_detail btn btn-outline-light" data-id="{% url 'meeting-detail' meeting.slug %}">View</button></td>
              <td><button class=" meeting_update btn btn-outline-danger" data-id="{% url 'meeting-update' meeting.slug %}">Update</button></td>
          {% else %}
              <td><button class="meeting_detail btn btn-outline-light" data-id="{% url 'meeting-detail' meeting.slug %}">View</button></td>
              <td><button class=" meeting_update btn btn-outline-danger disabled">Update</button></td>
          {% endif %}
      {% endif %}
  </tr>
{% if meeting.status == "follow up" %}
          <tr class="bg-secondary">
          <td>{{ meeting.first_Name|upper }}</td>
          <td>{{ meeting.last_Name|upper}}</td>
          <td>{{ meeting.NIC|upper }}</td>
          <td>{{ meeting.telephone|upper }}</td>
          <td>{{ meeting.address|upper }}</td>
          <td>{{ meeting.address.region|upper }}</td>
          <td>{{ meeting.reasons|upper }}</td>
          <td>{{ meeting.status|upper }}</td>
          <td>{{ meeting.created_at|date}}</td>
              {% if request.user.is_superuser %}
                  <td><button class="meeting_detail btn btn-outline-light" data-id="{% url 'meeting-detail' meeting.slug %}">View</button></td>
                  <td><button class=" meeting_update btn btn-outline-danger" data-id="{% url 'meeting-update' meeting.slug %}">Update</button></td>
              {% else %}
                  <td><button class="meeting_detail btn btn-outline-light" data-id="{% url 'meeting-detail' meeting.slug %}">View</button></td>
                  <td><button class=" meeting_update btn btn-outline-danger disabled">Update</button></td>
              {% endif %}
{% endif %}
  </tr>
  {% endfor %}
  </tbody>
</table>
{% include 'pagination.html' %}
{% endif %}
{% endif %}

    <script>
    $(document).ready(function(){

        $(".meeting_update").each(function () {
            $(this).modalForm({formURL: $(this).data('id')});
        });

        $(".meeting_detail").each(function () {
            $(this).modalForm({formURL: $(this).data('id')});
        });

    });
    function Export() {
            $("#appointTable").table2excel({
                name: "Appointment",
                filename: "AppointList.xls"
            });
        }
</script>

{% endblock %}