{% if request.user.is_authenticated %}
<header class="" id="km-header">
    <nav class="navbar navbar-expand-lg p-0">
      <div class="km-navbar-brand text-lg-center">
        <div class="container">
          <button aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarTogglerDemo03" data-toggle="collapse" type="button"><i aria-hidden="true" class="fa fa-bars"></i></button> <a class="navbar-brand" href="{% url 'home' %}">Appoint</a>
          <div class="km-navbar-brand-btn-container">
            <a href="{% url 'logout' %}">LOGOUT</a> <a href="#" class="address_create">Address</a> <a href="#" class="create_appoint">Appoint</a>
          </div>
        </div>
      </div>
      <div class="km-navbar-menu">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav m-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'meeting-list' %}">Appointments</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'address-list' %}">Address</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users' %}">Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
            </ul>
              <form class="form-inline mt-2 mt-md-0" action="{% url 'search_meeting' %}" method="get" >
                  <input class="form-control mr-sm-2" type="text" placeholder="Search" name="q" aria-label="Search">
                  <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
              </form>
          </div>
        </div>
      </div>
    </nav>
  </header><!-- /header -->
{% endif %}
<script>
$(document).ready(function(){
        $(".address_create").modalForm({formURL: "{% url 'address-create' %}"});
        $(".create_appoint").modalForm({formURL: "{% url 'meeting-create' %}"});
    })
</script>
