<header class="" id="km-header">
    <nav  class="navbar navbar-expand-lg p-0 fixed-top" id="nav_bar">
      <div class="km-navbar-brand text-lg-center" id="header_bar">
        <div class="container">
          <button aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarTogglerDemo03" data-toggle="collapse" type="button"><i aria-hidden="true" class="fa fa-bars"></i></button> <a class="navbar-brand" href="{% url 'home' %}"><span class="fa fa-vcard fa-2x" style="color: #1d2124;";>&nbsp;Appoint</span></a>
          <div class="km-navbar-brand-btn-container">
            <a href="{% url 'logout' %}"><span class="fa fa-sign-out"></span></a> <a href="#" class="create_appoint" style="text-decoration: none;"><span class="fa fa-meetup"></span></a> <a href="#" class="address_create"><span class="fa fa-address-book-o" ></span></a>
          </div>
        </div>
      </div>
      <div class="km-navbar-menu" id="menu">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav m-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}"><span class="fa fa-home">Home</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'meeting-list' %}"><span class="fa fa-meetup"></span>Appointments</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'address-list' %}"><span class="fa fa-address-book-o"></span>Address</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users' %}"><span class="fa fa-user-circle">Users</span></a>
              </li>
                {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="/etoila/"><span class="fa fa-arrow-circle-o-right">Admin</span></a>
                    </li>
                {% endif %}

            </ul>
              <form class="form-inline mt-2 mt-md-0" action="{% url 'search_meeting' %}" method="get" >
                  <input class="form-control mr-sm-2" type="text" placeholder="Search" name="q" aria-label="Search" required>
                  <button class="btn btn-outline-primary my-2 my-sm-0 search" type="submit">Search</button>
              </form>
          </div>
        </div>
      </div>
    </nav>
  </header><!-- /header -->

<script>
$(document).ready(function(){
    $(window).scroll(function () {
        let scroll = $(window).scrollTop();
        if (scroll > 100){
            $("#menu").css('background', 'red');
            $(".search").css('border-radius', '10px');
            $(".search").css('color', '#ffff');
            $("#header_bar").hide(1000);
        }
        else {
            $("#menu").css('background', '#0FB59F');
            $("#header_bar").show(1000);
        }
    });

    $(".address_create").modalForm({formURL: "{% url 'address-create' %}"});
    $(".create_appoint").modalForm({formURL: "{% url 'meeting-create' %}"});
    });
</script>
<br><br>
<br><br>
<br><br>
